// Colors
$dark-background: #090a0f;
$light-background: #1b2735;
$yellow: #ffff00;
$blue: #468cdc;
$white: #fff;

// Mixins
@mixin transform($transform) {
  transform: $transform;
}

@mixin transition($transition) {
  transition: $transition;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%) translateZ(0));
}

@mixin animation($animation) {
  animation: $animation;
}

// Starfield
.starfield {
  width: 600px;
  height: 600px;
  @include position-center;
  @include transform(translate(-50%, -50%) translateZ(0));
  @include transition(transform 6s cubic-bezier(0.25, 0.8, 0.25, 1));

  &__stars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -600px;
    left: 0;
  }
}

// Create stars
@function create-stars($n) {
  $value: '#{random(1024)}px #{random(1024)}px #fff';

  @for $i from 2 through $n {
    $value: '#{$value}, #{random(1024)}px #{random(1024)}px #fff';
  }

  @return unquote($value);
}

$stars-small: create-stars(100);
$stars-medium: create-stars(40);
$stars-large: create-stars(15);

.starfield {
  &.small .starfield__stars {
    width: 1px;
    height: 1px;
    box-shadow: $stars-small;

    &:nth-child(1) {
      @include animation(stars 20s linear infinite);
    }

    &:nth-child(2) {
      @include animation(stars 20s linear infinite 10s);
    }
  }
  &.medium .starfield__stars {
    width: 2px;
    height: 2px;
    box-shadow: $stars-medium;

    &:nth-child(1) {
      @include animation(stars 30s linear infinite);
    }

    &:nth-child(2) {
      @include animation(stars 30s linear infinite 15s);
    }
  }
  &.large .starfield__stars {
    width: 3px;
    height: 3px;
    box-shadow: $stars-large;

    &:nth-child(1) {
      @include animation(stars 50s linear infinite);
    }

    &:nth-child(2) {
      @include animation(stars 50s linear infinite 25s);
    }
  }
}

// Animated Stars
@keyframes stars {
  0% {
    @include transform(translateY(0) translateZ(0));
  }
  100% {
    @include transform(translateY(1200px) translateZ(0));
  }
}
