@use 'sass:math' as math;

@import './styles/starts';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

canvas {
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;

  p {
    padding: 0;
  }
}

kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff20;
  border: 2px solid #ffffff80;
  border-radius: 4px;
  padding: 0px 6px;
  font-size: 80%;
}

svg:not(:root) {
  display: block;
}

.playable-code {
  background-color: #f4f7f8;
  border: none;
  border-left: 6px solid #558abb;
  border-width: medium medium medium 6px;
  color: #4d4e53;
  height: 100px;
  width: 90%;
  padding: 10px 10px 0;
}

.playable-canvas {
  border: 1px solid #4d4e53;
  border-radius: 2px;
}

.playable-buttons {
  text-align: right;
  width: 90%;
  padding: 5px 10px 5px 26px;
}
